{% extends "base.html" %}

{% block content %}


    {% if notifications %} 
        <div class='notification'>
            {% for notification in notifications %}
                <p  class="status_{{notification.is_read}}" value='{{notification.id}}'>
                {{ notification.message }}
                </p> 


                <p>{{notification.is_read}}</p>
                    
            {% endfor %}
        </div>
    {% else %} 
        No notification yet
    {% endif %}   



{% endblock content %}



