{% extends "base.html" %}
{% load chat_tag %}



{% block content %}
<div class="chat-list-container">
    <h2>Chats not read message</h2>
    <ul class="chat-list">
        {% for chat in chats_and_user %} 
        <li class="chat-item">
            <a href="{% url 'chat:chat_two_users' chat.chats.id %}">
                <div class="chat-avatar">   

                    <img src="chat.other_user.profile.photo.url" alt="Avatar"> 
                    <p>{{ chat.other_user.username }}</p>
                    <p>{{ chat.last_message_in_chat }}</p>  
                    <p>{{ chat.count_unread_message }}</p>
                </div>
            </a>
        </li>
        {% empty %}
        <p>Чатів поки що немає.</p>
        {% endfor %}
    </ul>

    <h2>Another messages</h2> 
    <ul class="chat-list">
        {% for chat in another_chats_and_users %}
        <li class="chat-item">
            <a href="{% url 'chat:chat_two_users' chat.chat.id %}">
                <div class="chat-avatar">   

                    <img src="chat.last_user.profile.photo.url" alt="Avatar"> 
                    <p>{{ chat.last_user.username }}</p>
                    <p>{{ chat.last_message_in_chat }}</p>
                </div>
            </a>
        </li>
        {% empty %}
        <p>Чатів поки що немає.</p>
        {% endfor %}
    </ul>
    
</div>
{% endblock %}
