{% comment %} {% extends "base.html" %}  {% endcomment %}
{% block content %}  



<div id="chat-container">
    {% if chat.first_user.id == chat.second_user.id %} 
    <div id="chat-header">Saved message</div>  

    {% else %} 
    <div id="chat-header">Chat with {% if chat.first_user.id == request.user.id %} {{chat.second_user}} {% else %} {{chat.first_user}} {% endif %}</div>  
    {% endif %}
    <div id="chat-log">
            {% for message in histori_chat %}
               {% if message.sender.id == request.user.id %}  
                {% if message.photo %}
                    <img src="{{ message.photo.url }}" width="150" height="200">
                {% endif %}
               <div class="message user-message"> <p>{{message.text_message}} {{ message.created }}</p></div>
                {% else  %}
                <div class="message other-message"><p>{{ message.text_message }}  {{ message.created }}</p></div>
                {% endif %}
            {% endfor %} 

            
            
        </div>
        <div id="chat-input-container"> 
            {% comment %} <form id='form' method='post' enctype='multipart/form-data' > 
                {% csrf_token %} {% endcomment %}
            <textarea id="chat-message" placeholder="Type message..."></textarea>  
            <input id="files"  type='file'></input>
            <button id="send-button">Send</button>
            {% comment %} </form> {% endcomment %}
        </div>
    </div>

     {% comment %} <textarea id="chat-log" cols="100" rows="20"></textarea><br> 
 

    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">  
     {% endcomment %}
    {{ chat_id|json_script:"chat_id" }}
    {{ request.user.id|json_script:"cur_user" }}  


<script> 

        const chat_id = JSON.parse(document.getElementById('chat_id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/chat/'
            + chat_id
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const owner = JSON.parse(document.getElementById('cur_user').textContent); 
            const divMessage = document.getElementById('chat-log'); 


            addMessageToChat(data, owner);

            // fix it  make function
            
        }; 


        function addMessageToChat({ message, content, owner, time }, currentUserId) {
            const divMessage = document.getElementById('chat-log');
            const isCurrentUser = owner === currentUserId;

            const imgHTML = content && content !== 'None'
                ? `<img src="${content}" width="150" height="200">`
                : '';

            const messageClass = isCurrentUser ? 'user-message' : 'other-message';

            const html = `
                <div class="message ${messageClass}">
                    ${imgHTML} ${message} ${time}
                </div>
            `;

            divMessage.insertAdjacentHTML('beforeend', html);
        };


        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.getElementById('chat-message').onkeyup = function(e) { 
            if (e.key === 'Enter') {  // enter, return 
                document.getElementById('send-button').click();
            }
        };



        document.getElementById('send-button').onclick = function(e) {
            const messageInputDom = document.getElementById('chat-message');
            const message = messageInputDom.value;  
            const owner = JSON.parse(document.getElementById('cur_user').textContent);   

            const messageFiles = document.getElementById('files'); 
            const files = messageFiles.files[0];  

            let mes2 = document.getElementById('chat-message').value;
            


            // check 
            if(files){

                const reader = new FileReader(); 
    
                reader.onloadend = function() {
                    const data = reader.result.split(',')[1];  
 
                    chatSocket.send(JSON.stringify({
                        'message':  message, 
                        'content': data
                    }));
                    messageInputDom.value = '';
                };
                reader.readAsDataURL(files); 
                messageFiles.value = '';
            } else{
                chatSocket.send(JSON.stringify({
                    'message':  message, 
                    'content': 'None'
                }));
            }



               

            
        };
        {% comment %} let form = document.getElementById('form')
        const formData = new FormData(form);


        fetch(`cur_url`, {
            'method': 'POST', 
            'headers'  {
                'X-CSRFToken': '{% csrf_token %}'
            }, 
            body: formData
        })
        .then(response => responce.json())
 {% endcomment %}

    </script>








{% endblock content %}
{% comment %} if (data.owner ===  owner) { 
                if(data.content){

                    divMessage.innerHTML += `<div class="message user-message"> <img src='${data.content}' width="150" height="200"></img>${data.message} ${data.time}</div>`;
                } 
                else{
                    divMessage.innerHTML += `<div class="message user-message">${data.message} ${data.time}</div>`;

                }
            }  else  { 
                if(data.content){
                    divMessage.innerHTML += `<div class="message  other-message"><img src='${data.content}' width="150" height="200"></img>${data.message}  ${data.time}</div>`;
                }else{

                    divMessage.innerHTML += `<div class="message  other-message">${data.message}  ${data.time}</div>`;
                }
            } {% endcomment %}