{% extends "base.html" %} 
{% load static %} 
{% load post_tags %}

{% block content %}
    <div class="post-list">
        {% for post in list_posts %}
            <div class="post">
                <div class="post-header">
                    <span class="post-owner">{{ post.owner }}</span>
                    <span class="post-time">{{ post.create_time }}</span>
                </div>
                {% if post.rewrite_time %}
                    <span class="post-time">{{ post.rewrite_time }}</span>
                {% endif %}
                <div class="post-content">
                    {{ post.text|truncatechars:75 }}
                </div>
                <div class="post-media">
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" alt="Post image">
                    {% endif %}
                    {% if post.video %}
                        <video controls>
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                <div class='like-comment-share'> 
                        <div data-type='post'> 
                            {% include "includes/like.html" %}
                            {% include "includes/dislike.html" %} 
                        </div>
                        <div class='comment' id='{{ post.id }}'>
                            <button>  comment </button>  
                            <p>{{ post.comment.count }}</p> 
                            <div id="comment-form">
                                <input  class="leave_comment">
                                <button id='comment_button' type="submit">Додати коментар</button>
                            </div>
                            <div class='modal_comment' data-type="comment"> 
                                {% order_comment post.comment_post.all request.user as comments %}
                                {% for comment in comments %}
                                    {{ comment.text }}
                                    {{ comment.created }}
                                    {% comment %} {% include "includes/like.html" %}
                                    {% include "includes/dislike.html" %}  {% endcomment %}
                                {% endfor %}                              
                            </div>
                        </div> 
                    <div class='share'>
                        <button class='share'> share</button>
                    </div>
                    {% comment %} мб зробити інклуд {% endcomment %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
    
    <script> 
        document.querySelectorAll('.comment').forEach(commentBlock => {  

            const url = `/post/${commentBlock.id}/` 

            const commentInput = commentBlock.querySelector('.leave_comment'); 
            const commentsContainer = commentBlock.querySelector('.modal_comment'); 
            const commentButton  = commentBlock.querySelector('#comment_button'); 

            if (commentButton) {
                commentButton.addEventListener('click', event => {  
                    const textComment = commentInput.value.trim(); 

                    if (textComment !== '') {
                        const newComment = document.createElement('p');
                        newComment.className = 'user_comment';
                        newComment.textContent = textComment;  

                        let data = {'text_comment': textComment}

                        sendData(url, data)

                        commentsContainer.appendChild(newComment); 

                        commentInput.value = ''; 
                    }
                });
            }
        });



        // like/dislike
        document.querySelectorAll('.like,  .dislike  ').forEach(block => { 
            const button = block.querySelector('button') 
            const p = block.querySelector('p')  

            const url = `/post/${block.id}/`  
            const action = block.className 

            //  more abstract like
            const content_type = block.parentElement.dataset.type;   
            block.id = content_type.id;





            const data = {'action': action,  'type': content_type}
            
            button.addEventListener('click', (event) => { 
                sendData(url, data)

                


                const svg = event.target;  
                let countr = Number(p.textContent);

                if(svg.style.fill === 'red') {
                    svg.style.fill = 'black'; 
                    p.textContent = String(countr - 1);
                    
                } else{
                    svg.style.fill = 'red';
                    p.textContent = String(countr + 1);
                } 
            });
            
        });    
       function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };  


    function sendData(url, data){
        fetch(url, {
            method: 'POST', 
            headers: {
            'Content-Type': 'application/json', 
            'X-CSRFToken': getCookie('csrftoken') 

                        
                    
            }, 
            body:  JSON.stringify(data)
            })
        .then(response => response.json());
    };




    </script>
{% endblock content %} 
    
