{% extends "base.html" %} 
{% load static %}

{% block content %}
    <div class="post-list">
        {% for post in list_posts %}
            <div class="post">
                <div class="post-header">
                    <span class="post-owner">{{ post.owner }}</span>
                    <span class="post-time">{{ post.create_time }}</span>
                </div>
                {% if post.rewrite_time %}
                    <span class="post-time">{{ post.rewrite_time }}</span>
                {% endif %}
                <div class="post-content">
                    {{ post.text|truncatechars:75 }}
                </div>
                <div class="post-media">
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" alt="Post image">
                    {% endif %}
                    {% if post.video %}
                        <video controls>
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}
                <div class='like-comment-share'> 
                    {% comment %} мб зробити інклуд {% endcomment %}
                    <div class='like' id='{{ post.id }}'>
                        <button> 
                            {% include "includes/like.html" %}
                        </button>
                        <p> {{post.like.count}} </p>
                    </div> 

                    <div class='dislike' id='{{ post.id }}'> 
                        <button> 
                            {% include "includes/dislike.html" %} 
                        </button>                      
                        <p>{{post.dislike.count}}</p>
                    </div>
                    {% include "includes/post_comment.html" %}
                    <div class='share'>
                        <button class='share'> share</button>
                    </div>
                    {% comment %} мб зробити інклуд {% endcomment %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  
    
    
    <script> 
        // like/dislike
        document.querySelectorAll('.like,  .dislike  ').forEach(block => { 
            const button = block.querySelector('button') 
            const p = block.querySelector('p')  

            const url = `/post/${block.id}/`  
            const action = block.className
            


            button.addEventListener('click', (event) => { 


                fetch(url, {
                    method: 'POST', 
                    headers: {
                        'Content-Type': 'application/json', 
                        'X-CSRFToken': getCookie('csrftoken') 

                        
                    
                    }, 
                    body:  JSON.stringify({'action': action})
                })
                .then(response => response.json());


                const svg = event.target;  
                let countr = Number(p.textContent);

                if(svg.style.fill === 'red') {
                    svg.style.fill = 'black'; 
                    p.textContent = String(countr - 1);
                    
                } else{
                    svg.style.fill = 'red';
                    p.textContent = String(countr + 1);
                } 
            });
            
        });    
       function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }; 




    </script>
{% endblock content %} 
    
