{% extends "base.html" %} 
{% load profile_tags %}

{% block content %} 
<div class="profile-container">
    <div class="cover-photo"></div>
    <div class="profile-header">
        <img src="{{ profile.photo }}" alt="Аватар користувача" class="profile-avatar">
        <h1 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h1>
    </div>
    <div class="profile-navigation"> 
        <a href="{% url "users:all_friends" %}">
            <button>Friends</button>
        </a>
        <a href="{% url "post:list_posts" request.user.username %}">
            <button>Posts</button>
        </a>
        
       
    </div>
    <div class="profile-info">
        <p><strong>Email:</strong> {{ user.email }} </p>
        
        <p><strong>About:</strong>{{ profile.about }}</p>
    </div>

    <!-- Кнопка для відкриття модального вікна -->
<button id="openModalBtn">Додати пост</button>

<!-- Модальне вікно -->
<div id="postModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Створити пост</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} 
            <label for="id_text">Текст:</label>
            <textarea name="text" cols="40" rows="5" maxlength="10000" required="" id="id_text"></textarea>

            <label for="id_photo">Фото:</label>
            <input type="file" name="photo" accept="image/*" id="id_photo">

            <label for="id_video">Відео:</label>
            <input type="file" name="video" id="id_video">

            <button type="submit">Опублікувати</button>
        </form>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById("postModal");
        var openBtn = document.getElementById("openModalBtn");
        var closeBtn = document.querySelector(".close");
    
        // Відкрити модальне вікно
        openBtn.onclick = function() {
            modal.style.display = "flex";
        }
    
        // Закрити при натисканні на "×"
        closeBtn.onclick = function() {
            modal.style.display = "none";
        }
    
        // Закрити при натисканні за межами форми
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
    </script>

{% endblock content %}